body,
html {
  height: 100%;
  margin: 0;
}

p {
  margin: 0;
}

html {
  background: url("./mobile/background.svg") no-repeat 0 0 fixed;
  background-size: cover;
}

button {
  all: unset;
}
.text {
  font-family: "OpenSansLight";
  text-align: center;
  margin: auto;
  color: white;
  letter-spacing: 0.024em;
  font-size: 24px;
  display: flex;
}

.background {
  background-repeat: no-repeat;
  background-position: center center;
}

.colourSelectors {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: auto;
  z-index: 3;
}

#container {
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(3, 3fr) repeat(2, 1fr);
  grid-template-rows:
    repeat(2, 1fr) 1.5fr 2fr repeat(2, 3fr) repeat(2, 1fr) repeat(2, 2fr)
    1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100vw;
  height: 100vh;
  margin: 0px;
}
#mainMenu {
  grid-area: 2 / 2 / 3 / 3;
  background-image: url("./mobile/mainMenuIcon.svg");
}
#shoppingCart {
  grid-area: 2 / 6 / 3 / 7;
  background-image: url("./mobile/shoppingCartIcon.svg");
}
#airMax {
  grid-area: 3 / 3 / 4 / 6;
  font-size: 57px;
  letter-spacing: 0.04em;
}
#nikeLogo {
  grid-area: 4 / 3 / 5 / 6;
  background-image: url("./mobile/nikeLogo.svg");
  z-index: 1;
}
#backgroundCircle {
  grid-area: 4 / 3 / 9 / 7;
  background-image: url("./mobile/backgroundCircle.svg");
  z-index: 1;
  position: absolute;
  left: -200px;
}
#productImage {
  grid-area: 5 / 2 / 7 / 7;
  background-image: url("./mobile//goldProduct.svg");
  z-index: 2;
}

#colour {
  grid-area: 7 / 3 / 8 / 4;
}
#colourSelector {
  grid-area: 8 / 3 / 9 / 4;
  display: flex;
}
#size {
  grid-area: 7 / 5 / 8 / 6;
}
#sizeSelector {
  grid-area: 8 / 5 / 9 / 6;
  display: flex;
}
#price {
  grid-area: 9 / 4 / 10 / 5;
  font-size: 52px;
  letter-spacing: 0.04em;
}
#addButton {
  grid-area: 10 / 3 / 11 / 6;
}

#addToTheCart {
  border-radius: 20px;
  background-image: linear-gradient(to bottom right, #922ef6, #4a64ac);
  width: 263px;
  height: 58px;
}

#goldBlack {
  background-image: linear-gradient(#d5901f, #000000);
  box-shadow: 0 0 0 1px white;
}
#blueWhite {
  background-image: linear-gradient(#ffffff, #4e5fff);
}

#selector {
  border-radius: 10px;
  height: 40px;
  width: 40px;
  background-color: white;
  color: black;
  display: inline-block;
}

.colourSelectorsAnimation {
  animation: select 1s;
}

.backgroundAnimation {
  animation: slide 1s;
}

.fadeInAnimation {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes slide {
  0% {
  }
  100% {
    left: 0em;
    position: static;

    background-repeat: no-repeat;
    background-position: center center;
  }
}

@keyframes select {
  0% {
  }
  100% {
    box-shadow: 0 0 0 1px white;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "OpenSansLight";
  src: url("./BebasNeue/bebasneue-regular-webfont.eot");
  src: url("./BebasNeue/bebasneue-regular-webfont.eot?iefix")
      format("embedded-opentype"),
    url("./BebasNeue/bebasneue-regular-webfont.woff") format("woff"),
    url("./BebasNeue/bebasneue-regular-webfont.ttf") format("truetype"),
    url("./BebasNeue//bebasneue-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
